.landing {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;          
  text-align: center;
}

.logo {
  width: 600px;
  margin: 30px 0;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

button[type="submit"] {
  padding: 6px 12px;
  margin-left: 10px;
}

.field-wrapper {
  position: relative;
  padding-bottom: 18px; 
}

.help-block {
  position: absolute;
  left: 0;
  bottom: 0;           
  font-size: 12px;
  color: red;
}


